<div class="dashboard">
  <h1>Hello, {name}</h1>
  <div class="modules">
    <section>
      <h2>Current Temperature:</h2>
      <p>Inside: {{data.fahrenheit}}°C</p>
      <p>Oustide: {data from API} °C</p>
    </section>
    <section>
      <h2>Garage Door:</h2>
      <p>{{data2.doors}}</p>
    </section>
    <section>
      <h2>Light:</h2>
      <!-- <p>{{data3.value}}</p> -->
      <p ng-class="{hidden: data3.value<250}">On</p>
      <p ng-class="{hidden: data3.value>=250}">Off</p>
    </section>
    <section>
      <h2>Sprinklers:</h2>
      <p>{{data4.value}}</p>
    </section>
    <section class="alert">
      <h2>Alerts</h2>
      <p ng-class="{hidden: data.fahrenheit>18 && data.fahrenheit<25}">Temperature Alert! It's {{data.fahrenheit}} °C</p>
      <p ng-class="{hidden: data2.doors==='closed'}">Garage Door is {{data2.doors}}</p>
      <p ng-class="{hidden: data3.value<250}">The lights are ON</p>
      <!-- <p ng-class="sprinklerAlert">CHECK SPRINKLERS ALERT!!!</p> -->
    </section>
  </div>
</div>
